In [21]:
import pandas as pd
from pandas import DataFrame
import re

In [22]:
vacancy = pd.read_csv('~/Dropbox/CDS-2019-AlbanyHub/Census/vacancy_17.csv')
owner_renter = pd.read_csv('~/Dropbox/CDS-2019-AlbanyHub/Census/owner_renter_17.csv')
employment = pd.read_csv('~/Dropbox/CDS-2019-AlbanyHub/Census/employment_17.csv')

In [23]:
vacancy

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,Estimate; Total: - Occupied,Margin of Error; Total: - Occupied,Estimate; Total: - Vacant,Margin of Error; Total: - Vacant
1,1500000US130079601001,130079601001,"Block Group 1, Census Tract 9601, Baker County...",524,91,378,77,146,58
2,1500000US130079601002,130079601002,"Block Group 2, Census Tract 9601, Baker County...",595,94,426,71,169,68
3,1500000US130079602001,130079602001,"Block Group 1, Census Tract 9602, Baker County...",298,65,224,63,74,47
4,1500000US130079602002,130079602002,"Block Group 2, Census Tract 9602, Baker County...",353,69,293,64,60,40
5,1500000US130950001001,130950001001,"Block Group 1, Census Tract 1, Dougherty Count...",433,129,280,124,153,102
6,1500000US130950001002,130950001002,"Block Group 2, Census Tract 1, Dougherty Count...",175,98,175,98,0,13
7,1500000US130950001003,130950001003,"Block Group 3, Census Tract 1, Dougherty Count...",397,132,329,118,68,75
8,1500000US130950001004,130950001004,"Block Group 4, Census Tract 1, Dougherty Count...",938,194,714,180,224,131
9,1500000US130950001005,130950001005,"Block Group 5, Census Tract 1, Dougherty Count...",493,127,407,140,86,62
10,1500000US130950002001,130950002001,"Block Group 1, Census Tract 2, Dougherty Count...",352,102,271,107,81,64
11,1500000US130950002002,130950002002,"Block Group 2, Census Tract 2, Dougherty Count...",170,78,101,65,69,62
12,1500000US130950002003,130950002003,"Block Group 3, Census Tract 2, Dougherty Count...",560,118,470,119,90,63
13,1500000US130950002004,130950002004,"Block Group 4, Census Tract 2, Dougherty Count...",244,84,164,69,80,62
14,1500000US130950004001,130950004001,"Block Group 1, Census Tract 4, Dougherty Count...",738,176,575,155,163,103
15,1500000US130950004002,130950004002,"Block Group 2, Census Tract 4, Dougherty Count...",1027,177,823,172,204,125
16,1500000US130950004003,130950004003,"Block Group 3, Census Tract 4, Dougherty Count...",1542,195,1388,194,154,111
17,1500000US130950005011,130950005011,"Block Group 1, Census Tract 5.01, Dougherty Co...",1476,173,1412,186,64,70
18,1500000US130950005012,130950005012,"Block Group 2, Census Tract 5.01, Dougherty Co...",880,146,869,149,11,19
19,1500000US130950005021,130950005021,"Block Group 1, Census Tract 5.02, Dougherty Co...",668,114,609,119,59,63
20,1500000US130950005022,130950005022,"Block Group 2, Census Tract 5.02, Dougherty Co...",550,101,522,107,28,34
21,1500000US130950005023,130950005023,"Block Group 3, Census Tract 5.02, Dougherty Co...",237,54,237,54,0,13
22,1500000US130950005024,130950005024,"Block Group 4, Census Tract 5.02, Dougherty Co...",485,73,443,72,42,44
23,1500000US130950006001,130950006001,"Block Group 1, Census Tract 6, Dougherty Count...",713,107,583,107,130,90
24,1500000US130950006002,130950006002,"Block Group 2, Census Tract 6, Dougherty Count...",799,111,606,136,193,100
25,1500000US130950007001,130950007001,"Block Group 1, Census Tract 7, Dougherty Count...",933,50,761,70,172,57
26,1500000US130950008001,130950008001,"Block Group 1, Census Tract 8, Dougherty Count...",428,60,353,64,75,35
27,1500000US130950008002,130950008002,"Block Group 2, Census Tract 8, Dougherty Count...",298,68,209,66,89,39
28,1500000US130950009001,130950009001,"Block Group 1, Census Tract 9, Dougherty Count...",543,73,413,74,130,55
29,1500000US130950009002,130950009002,"Block Group 2, Census Tract 9, Dougherty Count...",551,65,425,61,126,51
...,...,...,...,...,...,...,...,...,...
82,1500000US131770204022,131770204022,"Block Group 2, Census Tract 204.02, Lee County...",1478,226,1478,226,0,13
83,1500000US131770204023,131770204023,"Block Group 3, Census Tract 204.02, Lee County...",447,139,367,130,80,88
84,1500000US131770204024,131770204024,"Block Group 4, Census Tract 204.02, Lee County...",464,86,464,86,0,13
85,1500000US131770204031,131770204031,"Block Group 1, Census Tract 204.03, Lee County...",1888,134,1851,137,37,46
86,1500000US131770204032,131770204032,"Block Group 2, Census Tract 204.03, Lee County...",300,78,274,70,26,42
87,1500000US132731202001,132731202001,"Block Group 1, Census Tract 1202, Terrell Coun...",287,53,217,47,70,35
88,1500000US132731202002,132731202002,"Block Group 2, Census Tract 1202, Terrell Coun...",491,59,338,57,153,50
89,1500000US132731203001,132731203001,"Block Group 1, Census Tract 1203, Terrell Coun...",354,93,294,73,60,68
90,1500000US132731203002,132731203002,"Block Group 2, Census Tract 1203, Terrell Coun...",558,120,426,103,132,89
91,1500000US132731203003,132731203003,"Block Group 3, Census Tract 1203, Terrell Coun...",271,94,173,59,98,90
92,1500000US132731203004,132731203004,"Block Group 4, Census Tract 1203, Terrell Coun...",291,76,204,71,87,71
93,1500000US132731204001,132731204001,"Block Group 1, Census Tract 1204, Terrell Coun...",489,100,428,94,61,58
94,1500000US132731204002,132731204002,"Block Group 2, Census Tract 1204, Terrell Coun...",320,70,320,70,0,13
95,1500000US132731204003,132731204003,"Block Group 3, Census Tract 1204, Terrell Coun...",465,105,313,72,152,82
96,1500000US132731205001,132731205001,"Block Group 1, Census Tract 1205, Terrell Coun...",651,63,577,64,74,35
97,1500000US133219501001,133219501001,"Block Group 1, Census Tract 9501, Worth County...",664,111,459,113,205,89
98,1500000US133219501002,133219501002,"Block Group 2, Census Tract 9501, Worth County...",766,110,656,115,110,76
99,1500000US133219502001,133219502001,"Block Group 1, Census Tract 9502, Worth County...",638,146,638,146,0,13
100,1500000US133219502002,133219502002,"Block Group 2, Census Tract 9502, Worth County...",935,169,799,171,136,117
101,1500000US133219502003,133219502003,"Block Group 3, Census Tract 9502, Worth County...",632,170,585,166,47,72
102,1500000US133219502004,133219502004,"Block Group 4, Census Tract 9502, Worth County...",707,204,661,199,46,67
103,1500000US133219504001,133219504001,"Block Group 1, Census Tract 9504, Worth County...",733,124,616,120,117,50
104,1500000US133219504002,133219504002,"Block Group 2, Census Tract 9504, Worth County...",378,106,262,84,116,80
105,1500000US133219504003,133219504003,"Block Group 3, Census Tract 9504, Worth County...",304,76,255,65,49,55
106,1500000US133219504004,133219504004,"Block Group 4, Census Tract 9504, Worth County...",549,103,440,82,109,64
107,1500000US133219505001,133219505001,"Block Group 1, Census Tract 9505, Worth County...",925,143,695,126,230,97
108,1500000US133219505002,133219505002,"Block Group 2, Census Tract 9505, Worth County...",510,119,487,111,23,39
109,1500000US133219505003,133219505003,"Block Group 3, Census Tract 9505, Worth County...",565,131,492,132,73,55
110,1500000US133219506001,133219506001,"Block Group 1, Census Tract 9506, Worth County...",590,75,542,76,48,37
111,1500000US133219506002,133219506002,"Block Group 2, Census Tract 9506, Worth County...",420,72,312,62,108,55

In [24]:
owner_renter.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,Estimate; Total: - Owner occupied,Margin of Error; Total: - Owner occupied,Estimate; Total: - Renter occupied,Margin of Error; Total: - Renter occupied
1,1500000US130079601001,130079601001,"Block Group 1, Census Tract 9601, Baker County...",869,181,457,159,412,154
2,1500000US130079601002,130079601002,"Block Group 2, Census Tract 9601, Baker County...",1247,223,764,170,483,210
3,1500000US130079602001,130079602001,"Block Group 1, Census Tract 9602, Baker County...",487,149,386,133,101,74
4,1500000US130079602002,130079602002,"Block Group 2, Census Tract 9602, Baker County...",645,120,489,120,156,91

In [25]:
employment.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,HD02_VD04,HD01_VD05,HD02_VD05,HD01_VD06,HD02_VD06,HD01_VD07,HD02_VD07
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,Estimate; In labor force:,Margin of Error; In labor force:,Estimate; In labor force: - Civilian labor force:,Margin of Error; In labor force: - Civilian la...,Estimate; In labor force: - Civilian labor for...,Margin of Error; In labor force: - Civilian la...,Estimate; In labor force: - Civilian labor for...,Margin of Error; In labor force: - Civilian la...,Estimate; In labor force: - Armed Forces,Margin of Error; In labor force: - Armed Forces,Estimate; Not in labor force,Margin of Error; Not in labor force
1,1500000US130079601001,130079601001,"Block Group 1, Census Tract 9601, Baker County...",684,144,350,113,350,113,350,113,0,13,0,13,334,87
2,1500000US130079601002,130079601002,"Block Group 2, Census Tract 9601, Baker County...",1038,170,488,124,488,124,461,126,27,22,0,13,550,156
3,1500000US130079602001,130079602001,"Block Group 1, Census Tract 9602, Baker County...",450,129,262,106,262,106,262,106,0,13,0,13,188,70
4,1500000US130079602002,130079602002,"Block Group 2, Census Tract 9602, Baker County...",507,98,219,69,219,69,213,69,6,9,0,13,288,81

# vacancy

In [26]:
new = vacancy["GEO.display-label"].str.split(", ", expand = True)   
vacancy["block"] = new[0] 
vacancy["tract"] = new[1]
vacancy["county"] = new[2]

In [27]:
vacancy = vacancy.drop('GEO.display-label', axis = 1)

In [28]:
l = len(vacancy['tract'])
vacancy1 = vacancy.copy()
re_string = 'Census Tract (\d+(?:.\d+)?)'
for i in range(1,l):
    s = vacancy.loc[i, 'tract']
    m = re.search(re_string, s)
    vacancy1.loc[i, 'tract'] = m.group(1)

In [29]:
l = len(vacancy['block'])
re_string = 'Block Group (\d+(?:.\d+)?)'
for i in range(1,l):
    s = vacancy.loc[i, 'block']
    m = re.search(re_string, s)
    vacancy1.loc[i, 'block'] = m.group(1)

In [30]:
tract_series = vacancy1['tract']
l = len(vacancy1['tract'])
for i in range(1,l):
    if '.' in tract_series[i]:
        s = tract_series[i].split('.')
        if len(s[0]) == 1:
            tract_series[i] = s[0] + s[1]
        elif len(s[0]) == 2:
            tract_series[i] = s[0] + s[1]
        elif len(s[0]) == 3:
            tract_series[i] = s[0] + s[1]
    else:
        if len(tract_series[i]) == 3:
            tract_series[i] = vacancy1['tract'][i] + '00'
        elif len(tract_series[i]) == 2:
            tract_series[i] = vacancy1['tract'][i] + '00'
        elif len(tract_series[i]) == 1:
            tract_series[i] = vacancy1['tract'][i] + '00'
        elif len(tract_series[i]) == 4:
            tract_series[i] = vacancy1['tract'][i] + '00'

In [31]:
vacancy1.head()
vacancy1.shape

(112, 11)

# owner_renter

In [32]:
new = owner_renter["GEO.display-label"].str.split(", ", expand = True)   
owner_renter["block"] = new[0] 
owner_renter["tract"] = new[1]
owner_renter["county"] = new[2]

In [33]:
owner_renter = owner_renter.drop('GEO.display-label', axis = 1)

In [34]:
l = len(owner_renter['tract'])
owner_renter1 = owner_renter.copy()
re_string = 'Census Tract (\d+(?:.\d+)?)'
for i in range(1,l):
    s = owner_renter.loc[i, 'tract']
    m = re.search(re_string, s)
    owner_renter1.loc[i, 'tract'] = m.group(1)

In [35]:
l = len(owner_renter['block'])
re_string = 'Block Group (\d+(?:.\d+)?)'
for i in range(1,l):
    s = owner_renter.loc[i, 'block']
    m = re.search(re_string, s)
    owner_renter1.loc[i, 'block'] = m.group(1)

In [36]:
tract_series = owner_renter1['tract']
l = len(owner_renter1['tract'])
for i in range(1,l):
    if '.' in tract_series[i]:
        s = tract_series[i].split('.')
        if len(s[0]) == 1:
            tract_series[i] = s[0] + s[1]
        elif len(s[0]) == 2:
            tract_series[i] = s[0] + s[1]
        elif len(s[0]) == 3:
            tract_series[i] = s[0] + s[1]
    else:
        if len(tract_series[i]) == 3:
            tract_series[i] = owner_renter1['tract'][i] + '00'
        elif len(tract_series[i]) == 2:
            tract_series[i] = owner_renter1['tract'][i] + '00'
        elif len(tract_series[i]) == 1:
            tract_series[i] = owner_renter1['tract'][i] + '00'
        elif len(tract_series[i]) == 4:
            tract_series[i] = owner_renter1['tract'][i] + '00'

In [37]:
owner_renter1.head()
#owner_renter1.shape

,GEO.id,GEO.id2,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,block,tract,county
0,Id,Id2,Estimate; Total:,Margin of Error; Total:,Estimate; Total: - Owner occupied,Margin of Error; Total: - Owner occupied,Estimate; Total: - Renter occupied,Margin of Error; Total: - Renter occupied,Geography,None,None
1,1500000US130079601001,130079601001,869,181,457,159,412,154,1,960100,Baker County
2,1500000US130079601002,130079601002,1247,223,764,170,483,210,2,960100,Baker County
3,1500000US130079602001,130079602001,487,149,386,133,101,74,1,960200,Baker County
4,1500000US130079602002,130079602002,645,120,489,120,156,91,2,960200,Baker County

# employment

In [38]:
new = employment["GEO.display-label"].str.split(", ", expand = True)   
employment["block"] = new[0] 
employment["tract"] = new[1]
employment["county"] = new[2]

In [39]:
employment = employment.drop('GEO.display-label', axis = 1)

In [40]:
l = len(employment['tract'])
employment1 = employment.copy()
re_string = 'Census Tract (\d+(?:.\d+)?)'
for i in range(1,l):
    s = employment.loc[i, 'tract']
    m = re.search(re_string, s)
    employment1.loc[i, 'tract'] = m.group(1)

In [41]:
l = len(employment['block'])
re_string = 'Block Group (\d+(?:.\d+)?)'
for i in range(1,l):
    s = employment.loc[i, 'block']
    m = re.search(re_string, s)
    employment1.loc[i, 'block'] = m.group(1)

In [42]:
tract_series = employment1['tract']
l = len(employment1['tract'])
for i in range(1,l):
    if '.' in tract_series[i]:
        s = tract_series[i].split('.')
        if len(s[0]) == 1:
            tract_series[i] = s[0] + s[1]
        elif len(s[0]) == 2:
            tract_series[i] = s[0] + s[1]
        elif len(s[0]) == 3:
            tract_series[i] = s[0] + s[1]
    else:
        if len(tract_series[i]) == 3:
            tract_series[i] = employment1['tract'][i] + '00'
        elif len(tract_series[i]) == 2:
            tract_series[i] = employment1['tract'][i] + '00'
        elif len(tract_series[i]) == 1:
            tract_series[i] = employment1['tract'][i] + '00'
        elif len(tract_series[i]) == 4:
            tract_series[i] = employment1['tract'][i] + '00'

In [43]:
employment1.head()
employment1.shape

(112, 19)

# Merging

In [44]:
vacancy1['block_tract'] = vacancy1['block'] + '_' + vacancy1['tract']
vacancy1.head()

,GEO.id,GEO.id2,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,block,tract,county,block_tract
0,Id,Id2,Estimate; Total:,Margin of Error; Total:,Estimate; Total: - Occupied,Margin of Error; Total: - Occupied,Estimate; Total: - Vacant,Margin of Error; Total: - Vacant,Geography,None,None,NaN
1,1500000US130079601001,130079601001,524,91,378,77,146,58,1,960100,Baker County,1_960100
2,1500000US130079601002,130079601002,595,94,426,71,169,68,2,960100,Baker County,2_960100
3,1500000US130079602001,130079602001,298,65,224,63,74,47,1,960200,Baker County,1_960200
4,1500000US130079602002,130079602002,353,69,293,64,60,40,2,960200,Baker County,2_960200

In [45]:
owner_renter1['block_tract'] = owner_renter1['block'] + '_' + owner_renter1['tract']
owner_renter1.head()

,GEO.id,GEO.id2,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,block,tract,county,block_tract
0,Id,Id2,Estimate; Total:,Margin of Error; Total:,Estimate; Total: - Owner occupied,Margin of Error; Total: - Owner occupied,Estimate; Total: - Renter occupied,Margin of Error; Total: - Renter occupied,Geography,None,None,NaN
1,1500000US130079601001,130079601001,869,181,457,159,412,154,1,960100,Baker County,1_960100
2,1500000US130079601002,130079601002,1247,223,764,170,483,210,2,960100,Baker County,2_960100
3,1500000US130079602001,130079602001,487,149,386,133,101,74,1,960200,Baker County,1_960200
4,1500000US130079602002,130079602002,645,120,489,120,156,91,2,960200,Baker County,2_960200

In [46]:
employment1['block_tract'] = employment1['block'] + '_' + employment1['tract']
employment1.head()

,GEO.id,GEO.id2,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,HD02_VD04,HD01_VD05,HD02_VD05,HD01_VD06,HD02_VD06,HD01_VD07,HD02_VD07,block,tract,county,block_tract
0,Id,Id2,Estimate; Total:,Margin of Error; Total:,Estimate; In labor force:,Margin of Error; In labor force:,Estimate; In labor force: - Civilian labor force:,Margin of Error; In labor force: - Civilian la...,Estimate; In labor force: - Civilian labor for...,Margin of Error; In labor force: - Civilian la...,Estimate; In labor force: - Civilian labor for...,Margin of Error; In labor force: - Civilian la...,Estimate; In labor force: - Armed Forces,Margin of Error; In labor force: - Armed Forces,Estimate; Not in labor force,Margin of Error; Not in labor force,Geography,None,None,NaN
1,1500000US130079601001,130079601001,684,144,350,113,350,113,350,113,0,13,0,13,334,87,1,960100,Baker County,1_960100
2,1500000US130079601002,130079601002,1038,170,488,124,488,124,461,126,27,22,0,13,550,156,2,960100,Baker County,2_960100
3,1500000US130079602001,130079602001,450,129,262,106,262,106,262,106,0,13,0,13,188,70,1,960200,Baker County,1_960200
4,1500000US130079602002,130079602002,507,98,219,69,219,69,213,69,6,9,0,13,288,81,2,960200,Baker County,2_960200

In [47]:
vacancy1.merge(vacancy1, on = "block_tract", how = "inner").shape

(112, 23)

In [48]:
owner_renter1.merge(owner_renter1, on = "block_tract", how = "inner").shape

(112, 23)

In [49]:
employment1.merge(employment1, on = "block_tract", how = "inner").shape

(112, 39)

In [50]:
vacancy1.to_csv('vacancy_final.csv', index = False)

In [51]:
owner_renter1.to_csv('owner_renter_final.csv', index = False)

In [52]:
employment1.to_csv('employment_final.csv', index = False)