In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import scipy as scp
from scipy import stats
import statsmodels.api as sm
import statsmodels.formula.api as smf
import sklearn
from sklearn.linear_model import LinearRegression
import os
import Levenshtein

In [24]:
pd.options.display.max_columns = 30

In [2]:
df_utilities = pd.read_csv('~/Dropbox/CDS-2019-AlbanyHub/ToDatabase/TotalUtilities.csv')

/anaconda3/envs/cds_env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_utilities.head()

,Premise,Premise Address,Customer,Service Type,Service Number,Service Rate,Consumption,Days of Service,Unit of Measure,Charge Amount,Charge Date,Year,Month,Day
0,10002,212 ACORN ST,10002.0,DELC,100.0,216,340.0,30.0,KWH,79.85,2012-01-09,2012,1,9
1,10002,212 ACORN ST,10002.0,NaN,150.0,NaN,NaN,NaN,NaN,17.12,2012-01-09,2012,1,9
2,10002,212 ACORN ST,10002.0,CGAS,200.0,220,37.0,30.0,CCF,47.13,2012-01-09,2012,1,9
3,10002,212 ACORN ST,10002.0,CWTR,300.0,230,1.0,30.0,TGAL,9.67,2012-01-09,2012,1,9
4,10002,212 ACORN ST,10002.0,CSWR,400.0,250,1.0,30.0,NONE,10.93,2012-01-09,2012,1,9

In [4]:
unique_addresses = df_utilities['Premise Address'].unique()
unique_addresses = pd.Series(unique_addresses)
unique_addresses.head()

0         212 ACORN ST
1     2101 LEONARD AVE
2     2103 LEONARD AVE
3    636 JEFFERIES AVE
4     2105 LEONARD AVE
dtype: object

In [5]:
df_taxes_list = []
path = '~/Dropbox/CDS-2019-AlbanyHub/Raw-Data/'
for i in range(2009, 2020):
    df_taxes_list.append(pd.read_csv(path+'AY'+str(i)+ ' Real Property_Personal Property.csv'))
df_full_taxes = pd.concat(df_taxes_list, ignore_index=True)
df_full_taxes.head

/anaconda3/envs/cds_env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/envs/cds_env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (6,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<bound method NDFrame.head of                                       OWNER_NAME  HOUSE_NO STDIRECT  \
0       NICHOLS DORRIS WILDER                            0      NaN
1       WESTON MONTY                                     0
2       NICHOLS JOE                                      0
3       ISRAEL CAROLYN R ETAL                            0      NaN
4       GEER RET                                         0      NaN
5       WILDER SARAH P & DORRIS                          0      NaN
6       WILDER SARAH P & DORRIS                          0      NaN
7       HENDERSON PEARL WILDER                           0      NaN
8       WILDER SARAH P & DORRIS                          0      NaN
9       HENDERSON PEARL WILDER                           0      NaN
10      MCDONALD THEOPHILUS                              0      NaN
11      WILDER SARAH P                                   0      NaN
12      WOOTEN STEVEN D                                  0      NaN
13      BOZEMAN ERIC                                     0      NaN
14      BOZEMAN ERIC                                     0      NaN
15      HANCOCK CHARLIE                                  0      NaN
16      HANCOCK CHARLIE                                  0      NaN
17      ALBANY DOUGHERTY PAYROLL DEVELOMENT AUTH         0      NaN
18      BAKER CLARANCE                                4408      NaN
19      MOFFITT WILLIS H                              2700      NaN
20      YOUNG RODNEY L & NEKETIA A                    2701      NaN
21      WILLIS EDWIN J SR & MATTIE H                  2702      NaN
22      MILLER JOSEPH JR                              2703      NaN
23      KEY GROVER                                    2704      NaN
24      MILLER JOSEPH JR                              2705      NaN
25      HUGHLEY TIMOTHY W & CHEQUITA A                2706      NaN
26      DOUGHERTY COUNTY                              2707      NaN
27      J & K TRUCKING CO INC                         2708      NaN
28      WALKER JAMES MARK                             2710      NaN
29      HILLS EDDIE D & KAREN                         2712      NaN
...                                          ...       ...      ...
421885  WILLIAMS GLADYS                                615      NaN
421886  TAYLOR NORMAN                                  616
421887  LAVANT MIAMIA                                  617      NaN
421888  NEW MACEDONIA BAPTIST CHURCH                   618      NaN
421889  NEW MACEDONIA BAPTIST CHURCH                   620      NaN
421890  LA'VANT CORINE                                 623      NaN
421891  NEW MACEDONIA BAPTIST CHURCH                   624      NaN
421892  THE VICTORY GROUP LLC                          627
421893  CITY OF ALBANY                                 628      NaN
421894  ROBERTS RUBY                                   629      NaN
421895  ODOM BENNIE JR & ETALS                         630      NaN
421896  WILLIAMS JEROME L & ORA L                      631
421897  ODOM BENNIE JR & ETALS                         632      NaN
421898  TUCKER RUTHIE                                  633      NaN
421899  HOWELL KENNETH D & DIANE W                     634      NaN
421900  BERRY BERNICE D                                635      NaN
421901  COLLIER GENEVA B                               636      NaN
421902  BONNER WILLIE & LORRAINE B                     637      NaN
421903  JONES ANNIE LOU                                638      NaN
421904  BONNER WILLIE JAMES                            639      NaN
421905  JONES KEITH                                    640
421906  BONNER WILLIE JAMES                            641
421907  RICHARDSON MARY E                              642      NaN
421908  BONNER JAMES EDWARD & CAROLYN                  643      NaN
421909  RICHARDSON MARY E                              644      NaN
421910  MILLER QUILLA M                                645      NaN
421911  JOHNSON ROSA                                   646      NaN
421912  MILLER QUILLA M                                647      NaN
421913  MILLER QUILLA                                  648      NaN
421914  JOHNSON ROSA                                   649      NaN

                       STREET_NAM STREET_TYPE  UNIT PROP_ZIP     ZONE_CODE  \
0       A C L RAILROAD                    NaN   NaN      NaN  C3
1       A C L RAILROAD                    NaN   NaN      NaN  C3
2       A C L RAILROAD                    NaN   NaN      NaN  C3
3       A C L RAILROAD                    NaN   NaN      NaN  AG
4       A C L RAILROAD                    NaN   NaN      NaN  AG
5       A C L RAILROAD                    NaN   NaN      NaN  R4
6       A C L RAILROAD                    NaN   NaN      NaN  R4
7       A C L RAILROAD                    NaN   NaN      NaN  R4
8       A C L RAILROAD                    NaN   NaN      NaN  R6
9       A C L RAILROAD                    NaN   NaN      NaN  R4
10      A C L RAILROAD                    NaN   NaN      NaN  R4
11      A C L RAILROAD                    NaN   NaN      NaN  R4
12      A C L RAILROAD                    NaN   NaN      NaN  R1B
13      A C L RAILROAD                    NaN   NaN      NaN  R4
14      A C L RAILROAD                    NaN   NaN      NaN  R4
15      A C L RAILROAD                    NaN   NaN      NaN  R4
16      A C L RAILROAD                    NaN   NaN      NaN  R4
17      A C L RAILROAD                    NaN   NaN      NaN  C5
18      A C L RAILROAD                    NaN   NaN      NaN  R4
19      ABBEY                            LN     NaN      NaN  R1A
20      ABBEY                            LN     NaN      NaN  R1A
21      ABBEY                            LN     NaN      NaN  R1A
22      ABBEY                            LN     NaN      NaN  R1A
23      ABBEY                            LN     NaN      NaN  R1A
24      ABBEY                            LN     NaN      NaN  R1A
25      ABBEY                            LN     NaN      NaN  R1A
26      ABBEY                            LN     NaN      NaN  R1A
27      ABBEY                            LN     NaN      NaN  R1A
28      ABBEY                            LN     NaN      NaN  R1A
29      ABBEY                            LN     NaN      NaN  R1A
...                           ...         ...   ...      ...           ...
421885  ZACKERY                          AVE    NaN    31701  R3
421886  ZACKERY                          AVE           31707  R3
421887  ZACKERY                          AVE    NaN    31701  R3
421888  ZACKERY                          AVE    NaN    31701  R3
421889  ZACKERY                          AVE    NaN    31701  R3
421890  ZACKERY                          AVE    NaN    31701  R3
421891  ZACKERY                          AVE    NaN    31701  R3
421892  ZACKERY                          AVE           31701  R3
421893  ZACKERY                          AVE    NaN    31701  R3
421894  ZACKERY                          AVE    NaN    31701  R3
421895  ZACKERY                          AVE    NaN    31701  R3
421896  ZACKERY                          AVE           31701  R3
421897  ZACKERY                          AVE    NaN    31701  R3
421898  ZACKERY                          AVE    NaN    31701  R3
421899  ZACKERY                          AVE    NaN    31701  R3
421900  ZACKERY                          AVE    NaN    31701  R3
421901  ZACKERY                          AVE    NaN    31701  R3
421902  ZACKERY                          AVE    NaN    31701  R3
421903  ZACKERY                          AVE    NaN    31701  R3
421904  ZACKERY                          AVE    NaN    31701  R3
421905  ZACKERY                          AVE           31701  R3
421906  ZACKERY                          AVE           31701  R3
421907  ZACKERY                          AVE    NaN    31701  R3
421908  ZACKERY                          AVE    NaN    31701  R3
421909  ZACKERY                          AVE    NaN    31701  R3
421910  ZACKERY                          AVE    NaN    31701  R3
421911  ZACKERY                          AVE    NaN    31701  R3
421912  ZACKERY                          AVE    NaN    31701  R3
421913  ZACKERY                          AVE    NaN    31701  R3
421914  ZACKERY                          AVE    NaN    31701  R3

                                     SUBDIVISION             PARCEL_NO  ...  \
0       COUNTY LINE - ACREE AREA                  00104/00001/014       ...
1       COUNTY LINE - ACREE AREA                  00104/00001/015       ...
2       COUNTY LINE - ACREE AREA                  00104/00001/016       ...
3       MASSEY                                    00155/00004/013       ...
4       LIBERTY EXPRESSWAY INDUSTRIAL AREA        00186/00001/006       ...
5       M. L. WILDER                              00104/00002/031       ...
6       M. L. WILDER                              00104/00002/030       ...
7       M. L. WILDER                              00104/00002/004       ...
8       COUNTY LINE - ACREE AREA                  00104/00001/013       ...
9       M. L. WILDER                              00104/00002/003       ...
10      M. L. WILDER                              00104/00002/006       ...
11      M. L. WILDER                              00104/00002/032       ...
12      RAMSEY                                    00122/00001/020       ...
13      M. L. WILDER                              00104/00002/001       ...
14      M. L. WILDER                              00104/00002/002       ...
15      M. L. WILDER                              00104/00002/008       ...
16      M. L. WILDER                              00104/00002/007       ...
17      SYLVESTER AREA  3000-3500                 00140/00001/007       ...
18      M. L. WILDER                              00104/00002/005       ...
19      BRENTWOOD PARK                            00333/00009/001       ...
20      BRENTWOOD PARK                            00333/00006/017       ...
21      BRENTWOOD PARK                            00333/00009/002       ...
22      BRENTWOOD PARK                            00333/00006/016       ...
23      BRENTWOOD PARK                            00333/00009/003       ...
24      BRENTWOOD PARK                            00333/00006/015       ...
25      BRENTWOOD PARK                            00333/00009/004       ...
26      BRENTWOOD PARK                            00333/00006/014       ...
27      BRENTWOOD PARK                            00333/00009/005       ...
28      BRENTWOOD PARK                            00333/00009/006       ...
29      BRENTWOOD PARK                            00333/00009/007       ...
...                                          ...                   ...  ...
421885  S Madison St                              000BB/00007/02H       ...
421886  S Madison St                              000BB/00007/03H       ...
421887  S Madison St                              000BB/00007/02I       ...
421888  S Madison St                              000BB/00007/03I       ...
421889  EMILY G HENDERSON                         000BB/00007/03J       ...
421890  S Madison St                              000BB/00007/02J       ...
421891  S Madison St                              000BB/00007/03L       ...
421892  S Madison St                              000BB/00007/02X       ...
421893  EMILY G HENDERSON                         000BB/00007/03M       ...
421894  S Madison St                              000BB/00007/02M       ...
421895  S Madison St                              000BB/00007/03N       ...
421896  S Madison St                              000BB/00007/02N       ...
421897  S Madison St                              000BB/00007/03O       ...
421898  S Madison St                              000BB/00007/02O       ...
421899  S Madison St                              000BB/00007/03P       ...
421900  S Madison St                              000BB/00007/02P       ...
421901  S Madison St                              000BB/00007/03Q       ...
421902  S Madison St                              000BB/00007/02Q       ...
421903  S Madison St                              000BB/00007/03R       ...
421904  S Madison St                              000BB/00007/02R       ...
421905  S Madison St                              000BB/00007/03S       ...
421906  S Madison St                              000BB/00007/02S       ...
421907  S Madison St                              000BB/00007/03T       ...
421908  S Madison St                              000BB/00007/02T       ...
421909  S Madison St                              000BB/00007/03U       ...
421910  S Madison St                              000BB/00007/02U       ...
421911  S Madison St                              000BB/00007/03V       ...
421912  S Madison St                              000BB/00007/02V       ...
421913  S Madison St                              000BB/00007/03W       ...
421914  S Madison St                              000BB/00007/002       ...

        CURR_VAL  VALCHGDATE TAXDISTRIC  HOMEEXEMPT TOTALACRES  \
0          13100  11/12/2008          2       S0          0.00
1          26300  11/12/2008          2       S0          0.39
2            990  11/12/2008          2       S0          0.25
3          21400   4/16/2007          1       S0         17.19
4          28600   6/20/2007          1       S0         14.30
5           3200         NaN          2       S0          0.21
6           4300         NaN          2       S0          0.21
7           3000    3/6/2009          2       S0          0.17
8           4000  11/12/2008          2       S0          1.05
9           9400  10/31/2008          2       S0          0.22
10          3000    3/6/2009          2       S0          0.24
11           400   3/29/2007          2       S0          0.30
12        240400         NaN          2       S0        152.66
13          3000   3/29/2007          2       S0          0.16
14          3000   3/29/2007          2       S0          0.16
15          3000    6/4/2007          2       S0          0.22
16          3000    6/4/2007          2       S0          0.17
17        175000   1/13/2009          2       S0         43.75
18         12300         NaN          2       S0          0.18
19        159060         NaN          1       S1          1.03
20        175500  10/31/2008          1       S1          1.33
21        130500    5/1/2007          1       S0          1.03
22        168200         NaN          1       S4          1.33
23        137900         NaN          1       S4          1.03
24         19200         NaN          1       S0          1.33
25        141300    5/1/2007          1       S1          1.03
26           270   11/8/2007          1       S0          4.66
27        190700         NaN          1       S0          1.03
28        122600    5/1/2007          1       S1          1.03
29        148900  10/31/2008          1       S1          1.03
...          ...         ...        ...         ...        ...
421885     41700   4/20/2015          1       S0          0.16
421886     37200         NaN          1       S1          0.16
421887     17800   4/20/2015          1       S0          0.16
421888      3200   4/20/2015          1       S0          0.16
421889      4400         NaN          1       S0          0.22
421890      3200   4/20/2015          1       S0          0.16
421891      2400   4/20/2015          1       S0          0.12
421892     48200         NaN          1       S0          0.13
421893      3200   4/20/2015          1       S0          0.16
421894     48200   4/20/2015          1       S4          0.13
421895      3200   4/20/2015          1       S0          0.16
421896     35400         NaN          1       S4          0.16
421897     70400    2/2/2018          1       S1          0.16
421898     38900   4/20/2015          1       S4          0.16
421899     42600   3/10/2016          1       S0          0.16
421900      3200   4/20/2015          1       S0          0.16
421901     47300         NaN          1       S4          0.16
421902      3200   4/20/2015          1       S0          0.16
421903      3200   6/28/2016          1       S0          0.16
421904     28800         NaN          1       S0          0.16
421905     49800         NaN          1       S0          0.16
421906     54000         NaN          1       S4          0.16
421907     51500   4/20/2015          1       S4          0.16
421908     64800   4/20/2015          1       S0          0.16
421909      3200   4/20/2015          1       S0          0.16
421910      3200   4/20/2015          1       S0          0.16
421911     46100   4/20/2015          1       S4          0.16
421912      3200   4/20/2015          1       S0          0.16
421913      3600         NaN          1       S0          0.18
421914      3600         NaN          1       S0          0.18

        PROPERTY_CLASS DIG_STRAT BUSI_ID NAICS  PERSKEY
0          RESIDENTIAL         3     NaN   NaN      NaN
1           COMMERCIAL         3     NaN   NaN      NaN
2           COMMERCIAL         3     NaN   NaN      NaN
3          RESIDENTIAL         4     NaN   NaN      NaN
4          RESIDENTIAL         4     NaN   NaN      NaN
5          RESIDENTIAL         3     NaN   NaN      NaN
6          RESIDENTIAL         3     NaN   NaN      NaN
7          RESIDENTIAL         3     NaN   NaN      NaN
8          RESIDENTIAL         3     NaN   NaN      NaN
9          RESIDENTIAL         3     NaN   NaN      NaN
10         RESIDENTIAL         3     NaN   NaN      NaN
11         RESIDENTIAL         3     NaN   NaN      NaN
12         RESIDENTIAL         5     NaN   NaN      NaN
13         RESIDENTIAL         3     NaN   NaN      NaN
14         RESIDENTIAL         3     NaN   NaN      NaN
15         RESIDENTIAL         3     NaN   NaN      NaN
16         RESIDENTIAL         3     NaN   NaN      NaN
17                 NaN         1     NaN   NaN      NaN
18         RESIDENTIAL         3     NaN   NaN      NaN
19         RESIDENTIAL         3     NaN   NaN      NaN
20         RESIDENTIAL         3     NaN   NaN      NaN
21         RESIDENTIAL         3     NaN   NaN      NaN
22         RESIDENTIAL         3     NaN   NaN      NaN
23         RESIDENTIAL         3     NaN   NaN      NaN
24         RESIDENTIAL         3     NaN   NaN      NaN
25         RESIDENTIAL         3     NaN   NaN      NaN
26                 NaN         1     NaN   NaN      NaN
27         RESIDENTIAL         3     NaN   NaN      NaN
28         RESIDENTIAL         3     NaN   NaN      NaN
29         RESIDENTIAL         3     NaN   NaN      NaN
...                ...       ...     ...   ...      ...
421885     RESIDENTIAL         3     NaN   NaN      NaN
421886     RESIDENTIAL         3     NaN   NaN      NaN
421887     RESIDENTIAL         3     NaN   NaN      NaN
421888     RESIDENTIAL         3     NaN   NaN      NaN
421889             NaN         2     NaN   NaN      NaN
421890     RESIDENTIAL         3     NaN   NaN      NaN
421891     RESIDENTIAL         3     NaN   NaN      NaN
421892     RESIDENTIAL         3     NaN   NaN      NaN
421893             NaN         1     NaN   NaN      NaN
421894     RESIDENTIAL         3     NaN   NaN      NaN
421895     RESIDENTIAL         3     NaN   NaN      NaN
421896     RESIDENTIAL         3     NaN   NaN      NaN
421897     RESIDENTIAL         3     NaN   NaN      NaN
421898     RESIDENTIAL         3     NaN   NaN      NaN
421899     RESIDENTIAL         3     NaN   NaN      NaN
421900     RESIDENTIAL         3     NaN   NaN      NaN
421901     RESIDENTIAL         3     NaN   NaN      NaN
421902     RESIDENTIAL         3     NaN   NaN      NaN
421903     RESIDENTIAL         3     NaN   NaN      NaN
421904     RESIDENTIAL         3     NaN   NaN      NaN
421905     RESIDENTIAL         3     NaN   NaN      NaN
421906     RESIDENTIAL         3     NaN   NaN      NaN
421907     RESIDENTIAL         3     NaN   NaN      NaN

In [6]:
add = []

for (number, direction, name, suffix) in zip(df_full_taxes['HOUSE_NO'], df_full_taxes['STDIRECT'], 
                                          df_full_taxes ['STREET_NAM'], df_full_taxes['STREET_TYPE']):
    word = ''
    if number != 0:
        word += str(number)
    if direction != '  ' and not pd.isna(direction):
        word += ' ' + str(direction).strip()
    word += ' ' + name.strip()
    if suffix != '    ' and not pd.isna(suffix):
        word += ' ' + str(suffix).upper().strip()
    add.append(word)

address = pd.Series(add)
address = pd.Series(address.unique())
address.shape

(37853,)

In [7]:
unique_addresses.shape

(30714,)

In [14]:
mismatched = unique_addresses[~unique_addresses.isin(address)]
mismatched.shape

(9256,)

In [11]:
def lev_list(address_list, address,i):
    temp_list = []
    temp_list_u = []
    for u_address in address_list:
        if Levenshtein.distance(address, u_address.upper()) <= i:
            temp_list.append(address)
            temp_list_u.append(u_address.upper())
    temp_list_series = pd.Series(temp_list)
    temp_list_u_series = pd.Series(temp_list_u)
    return temp_list_u_series

In [12]:
def gen_list_none(address_list, mismatched, i):
    tmp_list = []
    counter = 0
    for address in mismatched:
        if counter % 100 == 0:
            print(str(counter))
        if lev_list(address_list, address, i).shape[0] == 0:
            tmp_list.append(address)
        counter += 1
    return pd.Series(tmp_list)

In [13]:
tmp = gen_list_none(address, mismatched, 3)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200

In [15]:
tmp.shape

(1749,)

In [21]:
tmp.head(70)

0     1602 GADSDEN DR
1     1604 GADSDEN DR
2     1606 GADSDEN DR
3     1608 GADSDEN DR
4     1610 GADSDEN DR
5     1612 GADSDEN DR
6     1614 GADSDEN DR
7     1618 GADSDEN DR
8     1620 GADSDEN DR
9     1624 GADSDEN DR
10    1626 GADSDEN DR
11    1628 GADSDEN DR
12    1630 GADSDEN DR
13    1632 GADSDEN DR
14    1634 GADSDEN DR
15    1636 GADSDEN DR
16    1638 GADSDEN DR
17       637 TULSA LN
18       635 TULSA LN
19       633 TULSA LN
20       631 TULSA LN
21       630 TULSA LN
22    1700 GADSDEN DR
23    1702 GADSDEN DR
24    1704 GADSDEN DR
25    1706 GADSDEN DR
26    1708 GADSDEN DR
27    1710 GADSDEN DR
28    1800 GADSDEN DR
29    1802 GADSDEN DR
           ...
40    1819 GADSDEN DR
41    1817 GADSDEN DR
42    1815 GADSDEN DR
43    1813 GADSDEN DR
44    1811 GADSDEN DR
45    1809 GADSDEN DR
46    1807 GADSDEN DR
47    1805 GADSDEN DR
48    1803 GADSDEN DR
49    1801 GADSDEN DR
50    1713 GADSDEN DR
51    1711 GADSDEN DR
52    1709 GADSDEN DR
53    1707 GADSDEN DR
54    1705 GADSDEN DR
55    1703 GADSDEN DR
56       640 TULSA LN
57       642 TULSA LN
58       644 TULSA LN
59       646 TULSA LN
60       641 TULSA LN
61       643 TULSA LN
62    1615 GADSDEN DR
63    1617 GADSDEN DR
64    1619 GADSDEN DR
65    1621 GADSDEN DR
66    1623 GADSDEN DR
67    1625 GADSDEN DR
68         GROVE PARK
69         LIPPITT DR
Length: 70, dtype: object

In [26]:
df_full_taxes['ZONE_CODE'].value_counts()

R1B             95957
R1A             86981
R3              83131
R6              23447
C3              20965
R1C             20302
AG              13362
C2              12442
C5              10761
C7               6382
R1               5920
C1               5917
R4               5856
M1               4709
R4B              3834
R2               3420
FP               1691
                 1066
C6                667
R5                492
M2                467
C8                373
R4A               362
C-2               311
C4                240
RIA-C5             44
R-1                44
ZZ                 40
C-R                35
C3c                24
FH                 22
CR                 18
R-6C               16
FP & C8            12
R-4B               11
C                  11
R-3                11
C-7                11
RIC                11
R-6                11
R-62               11
C-5                 9
C-2C                9
r1                  8
Name: ZONE_CODE, dtype: int64